<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vip.yll.mapper.OrderDetailMapper">
  <resultMap id="BaseResultMap" type="com.vip.yll.domain.entity.OrderDetail">
    <!--@mbg.generated-->
    <id column="order_detail_id" jdbcType="INTEGER" property="orderDetailId" />
    <result column="order_id" jdbcType="INTEGER" property="orderId" />
    <result column="shopcart_id" jdbcType="INTEGER" property="shopcartId" />
    <result column="shop_price" jdbcType="DECIMAL" property="shopPrice" />
    <result column="shop_num" jdbcType="INTEGER" property="shopNum" />
    <result column="shop_freight" jdbcType="DECIMAL" property="shopFreight" />
    <result column="order_detail_status" jdbcType="INTEGER" property="orderDetailStatus" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    order_detail_id, order_id, shopcart_id, shop_price, shop_num, shop_freight, order_detail_status
  </sql>

  <insert id="insert" parameterType="list">
    insert into t_order_detail
    (order_id, shopcart_id, shop_price, shop_num)
    values
    <foreach collection="orderDetails" item="orderDetail" separator=",">
       (#{orderId}, #{orderDetail.shopcartId}, #{orderDetail.shopPrice}, #{orderDetail.shopNum})
    </foreach>
  </insert>

</mapper>