<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vip.yll.mapper.ShopPropertyMapper">
  <resultMap id="BaseResultMap" type="com.vip.yll.domain.entity.ShopProperty">
    <!--@mbg.generated-->
    <id column="shop_property_id" jdbcType="INTEGER" property="shopPropertyId" />
    <result column="shop_property_name" jdbcType="VARCHAR" property="shopPropertyName" />
    <result column="shop_property_is_delete" jdbcType="INTEGER" property="shopPropertyIsDelete" />
  </resultMap>

  <resultMap id="SelectByShopIdMap" type="com.vip.yll.domain.vo.ShopPropertyVo"
             extends="BaseResultMap">
    <collection property="shopPropertyValues" ofType="com.vip.yll.domain.entity.ShopPropertyValue"
                resultMap="com.vip.yll.mapper.ShopPropertyValueMapper.BaseResultMap"/>
  </resultMap>

  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    shop_property_id, shop_property_name, shop_property_is_delete
  </sql>

  <select id="selectShopSku" parameterType="java.lang.String" resultType="java.lang.String">
    SELECT
    GROUP_CONCAT(CONCAT_WS(':',tsp.shop_property_name, tspv.shop_property_value) order by tsp.shop_property_id separator ' ') as shop_sku
    FROM t_shop_property tsp
    left join t_shop_property_value tspv on tspv.shop_property_id = tsp.shop_property_id
    WHERE INSTR ( CONCAT(',', #{shopPropertyValueIds}, ','),
    CONCAT(',', tspv.shop_property_value_id, ',') )
  </select>

  <select id="selectAllValues" resultMap="SelectByShopIdMap">
    select
    tsp.shop_property_id, tsp.shop_property_name,
    tspv.shop_property_value_id, tspv.shop_id, tspv.shop_property_value
    from t_shop_property tsp
    left join t_shop_property_value tspv on tsp.shop_property_id = tspv.shop_property_id
    where tspv.shop_id=#{shopId}
  </select>

</mapper>